netaddr
configparser
broadlink
flask==2.2.2
flask-restful
flask-httpauth
flask-cors
pyaes
connexion[swagger-ui]==2.14.1
netifaces
kodi-json
sonyapilib
Crypto
pycryptodome
pkcs7
pythonping
python-dotenv

