netaddr
configparser
broadlink==0.19.0
flask==2.2.2
flask-restful
flask-httpauth
flask-cors
pyaes
connexion[swagger-ui]==2.14.1
netifaces
kodi-json
sonyapilib==0.5.0
Crypto
pycryptodome
pkcs7
pythonping==1.1.4
python-dotenv
paho-mqtt==2.0.0
scapy
denonavr