/.env

*.swp

*.save

*.png~

*.pyc

app/_sicher/

app/icon/

app/jquery-2.1.3.min.js

app/img/iphone_rm3.jpg

app/img/remote.jpg

app/remote-v3/config_stage.js

app/app-fw/

app/img/

app/cache.manifest

config/config_test

config/config_prod

config/modules/

config/app-framework/

data/_ACTIVE-DEVICES.json

data/_ACTIVE-SCENES.json

data/_ACTIVE-MACROS.json

data/_ACTIVE-APIS.json

data/devices/

data/remotes/

log/server.log

server/modules/rm3stage.py

server/interfaces/api_magichue.py

server/interfaces/magichue/

server/interfaces/test_api_magichome.py

server/interfaces/broadlink/__pycache__/

server/server_org.py

server/tryout
