
server/interfaces/broadlink/__pycache__/

*.pyc

server/server_org.py

log/server.log

config/config_test

config/config_prod

app/_sicher/

app/icon/

app/jquery-2.1.3.min.js

app/img/iphone_rm3.jpg

app/img/remote.jpg

*.save

/docker-compose.yml

*.png~

start

data/_ACTIVE-DEVICES.json

data/_ACTIVE-SCENES.json

data/_ACTIVE-MAKROS.json

data/devices/

data/remotes/

app/app-fw/

app/img/

config/app-framework/

config/modules/

app/cache.manifest

*.swp
