/* dark scheme for iPhone / Mac etc. */

@media (prefers-color-scheme: dark) {

/* Element for theme check */

#theme_check {
	background-color : black;
	display : none;
	color : black;
	}

/* default elements */

  img        { opacity: .75;   transition: opacity .5s ease-in-out; }
  img:hover  { opacity: 1; }
  body       { background: #111111; }
  hr         { border: #444444 solid 1px; }


/* elements from remote.css */
  
  .remote {
    background : #000000;
    color      : #aaaaaa;
    opacity    : 0.8;
    border     : solid 1px #333333;
  }
  
  .remote-line {
	}
	
  .remote-line-text {
	background-color : #000000;
	color            : #aaaaaa;
	}

  .bg_settings {
    background : #222222;
    color      : #aaaaaa;
    opacity    : 0.8;
  }
  
  button               { opacity: 1; color : #dddddd; background: #333333; }
  
  .button              { opacity: 1; color : #dddddd; background: #333333; }
  .button.empty 	{ background: #000000; }
  .button:disabled 	{ background: #000000; }
  
  .button.bggreen  	{ opacity: 0.7; }
  .button.bgred    	{ opacity: 0.7; }
  .button.bgyellow 	{ opacity: 0.7; }
  .button.bgblue   	{ opacity: 0.7; }
  
  .button.notfound          { border : solid 1px #990000; }
  .button.notfound:disabled { border : solid 1px #990000; background-color : #221111; }

  .display {
  	background : #000088;
  	opacity    : 0.7;
  }
  
  .slidecontainer { background: #666666; }
  .slider         { border: solid 1px black; }
  .slidervalue    { border: solid 1px black; }
  .sliderlabel    { color: #dddddd; }
  }
  

/* elements from rm_settings.css */

}
