/* Element for theme check */

#theme_check {
	visibility : hidden;
	background-color : white;
	}

/* AUDIO INFO */

#close {
  width:25px;
  height:25px;
  background:black;
  color:white;
  border:2px solid gray;
  position:absolute;
  top:0px;
  right:0px;
  cursor:pointer;
}

#audio1 {
  right: 135px;
  background-image: url('/icon/mute.png');
  background-size: 14px;
  height:14px;
  width: 14px;
  color: white;
}
#audio2 {
  right: 135px;
  background-image: url('/icon/vol+.png');
  background-size: 14px;
  height:14px;
  width: 14px;
  color: white;
}
#audio4 {
  right: 160px;
  height:14px;
  width: 140px;
  color: gray;
  text-align: right;
  font-weight: none; 
}

/* height of app start screen */

.app_background {
   height: 100vh;
}

/* default size for boxes and buttons = iPhone 5c */
/* boxes for remote controlls */

.remote {
   width   : 290px;
   float   : left;
   margin  : 4px;
   padding : 5px;
   border-radius : 5px;   
   background-color: #dddddd;
   opacity: 0.9;
   font-family:sans-serif;
   font-size: 12px;
   z-index: 80;
   position: relative;
}

.remote_edit {
   position: absolute;
   background-color: #eeeeee;
   display: none;
   width: 99%;
   height: 40px;
   bottom: 0px;
   left: 0px;
   z-index: 90;
   }
   
#remote_edit {
   margin: 4px;
   width: 90%;
   height: 20px;
   }

#remote1    { z-index: 81; }
#reload_msg { color : gray; font-family: sans-serif; font-size: 10px;}

.remoteblock {
   width : 100%;
}

.remote-line {
        margin-top       : 5px;
	width		 : 330px;
	height           : 15px;
	overflow         : hidden;
	float		 : left;
	position	 : relative;
	}
	
.remote-line-text {
	position	 : relative;
	right		 : -10px;
	top		 : -15px;
	background-color : #dddddd;
	color            : #333333;
	font-size	 : 10px;
	float		 : left;
	clear		 : left;
	}

/* entries for channel lists */

.channel-entry {
   width     : 140px;
   height    :  28px;
   padding   :   0px;
   margin    :   2px;
   color     : white;
   font-size : 15px;
   border           : gray;
   border-style     : solid;
   border-width     : 1px;
   border-radius    : 6px;   
   background-color : #333333;
}

.channel-entry:hover {
    color            : black;
    background-color : #dddddd;
    box-shadow       : 0 8px 8px 0 rgba(0,0,0,0.24), 0 8px 8px 0 rgba(0,0,0,0.19);
}


/* buttons */

button {
   background      : #000044;
   color           : white;
   height          : 30px;
   overflow        : hidden;
   border-radius   : 5px;
   font-size       : 12px;
}

/* buttons for remote controls */

.button {
   color           : white;
   width           :  63px;
   height          :  40px;
   max-width       :  63px;
   max-height      :  40px;
   padding         :   2px;
   margin          :   4px;
   border-style    : solid 0px #111111;
   border-radius   :   6px;   
   background-color: #111111;
   font-size       : 13px;
   overflow        : hidden;
   float           : left;
}

.button:hover {
   color            : yellow;
   background-color : #555555;
   box-shadow       : 0 4px 4px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.19);
}

.button:disabled {
   background-color: #dddddd;
   color           : #dddddd;
   border           : gray;
   border-style     : none;
   box-shadow       : 0 0px 0px 0 rgba(0,0,0,0.24), 0 0px 0px 0 rgba(0,0,0,0.19);
}

.button.complete {
   background-color: #eeeeee;
   border          : blue;
   border-style    : solid;
   border-width    : 2px;
}

.button.notfound {
   background-color: #000055;
   border          : red;
   border-style    : solid;
   border-width    : 2px;
}

.button.notfound:disabled {
   background-color: #777777;
   border          : red;
   border-style    : solid;
   border-width    : 2px;
}

.button.big {
    width  		: 88px;
    height 		: 66px;
    max-width          : 88px;
    max-height         : 66px;
}

.button.big_edit {
    width  		: 88px;
    height 		: 66px;
    max-width          : 88px;
    max-height         : 66px;
    border           	: blue;
    border-style     	: solid;
    border-width     	: 2px;
}

.button.small {
    width  		: 51px;
    height 		: 50px;
    max-width          : 51px;
    max-height         : 50px;
    margin 		:  3px;
}

.button.small_edit { 
    width  		: 60px; 
    height 		: 50px;
    max-width          : 60px;
    max-height         : 50px;
    margin 		:  3px;
    border           	: blue;
    border-style     	: solid;
    border-width     	: 2px;
}


/* colored buttons */

.button.bgred    { background-color: red;     color: red; }
.button.bgyellow { background-color: yellow;  color: yellow; }
.button.bgblue   { background-color: blue;    color: blue; }
.button.bggreen  { background-color: green;   color: green; }


/* display information within the remote control */

.display {
   width           :  133px;
   height          :  40px;
   color           : yellow;
   padding         :   2px;
   margin          :   4px;
   font-size       :   9px; 
   border-radius   :   6px; 
   background-color: #000044;
   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
}

.display.right  { float  : right; }

.display.small  { width  : 133px;   height  :  40px; } 
.display.middle { width  : 133px;   height  :  88px; } 
.display.big    { width  : 276px;   height  :  88px; } 

.display.h1w2   { width  : 133px;   height  :  40px; } 
.display.h2w2   { width  : 133px;   height  :  88px; } 
.display.h2w4   { width  : 276px;   height  :  88px; } 

.display-element {
   width	: 56px;
   margin	: 2px;
   padding	: 0px;
   float	: left;
   color	: white;
   //border       : blue 1px solid;  
   text-align   : left;
}

.display-element.alert   { color : black; }
.display-element.small   { width : 56px; }
.display-element.middle  { width : 118px; }
.display-element.big     { width : 118px; }

.display-label {
   width        : 45px;
   float        : left;
}

.display-input {
   float        : left;
}

.display.display_off {
   background	: #000033;
}

.display.display_error {
   background	: #660000;
}

/* colored circles as status LED */

#green {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: 1px solid green;
      background: #90EE90;
      margin: 6px;
    }

#yellow {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: 1px solid yellow;
      background: yellow;
      margin: 6px;
    }

#red {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: 1px solid red; 
      background: red;
      margin: 6px;
    }

#gray {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: 1px solid #666666; 
      background: #333333;
      margin: 6px;
    }

#show_hide_not_used {
	width: 17px;
	max-width: 17px;
	height: 17px;

	border: solid 1px #333333;
	border-radius: 17px;

	background-color: #555555;
	color: white;

	position: relative;
	top: -10px;

	font-weight: bold;
	font-size: 14px;

	padding-top:-5px;
	padding-left:5px;
	
	cursor:pointer;
	overflow:hidden;
	display:inline-block;
	}


/* format for iphone XS */

@media (min-width: 370px) {

  .remote         { width  : 340px; }
  .setting_bg     { width  : 340px; }

  .channel-entry  { width  : 160px; }
  
  .button         	{ width  :  76px; max-width  :  76px; }
  .button.big     	{ width  : 105px; max-width  : 105px; }
  .button.small   	{ width  :  62px; max-width  :  62px; }
  .button.small_edit	{ width  :  62px; max-width  :  62px;}
    
  .display        { font-size : 10px; }
  .display.small  { width  : 160px; }
  .display.middle { width  : 160px; }
  .display.big    { width  : 328px; }
  
  .display.h1w2   { width  : 160px; }
  .display.h2w2   { width  : 160px; }
  .display.h2w4   { width  : 328px; }

  .display-element        { width : 70px; }
  .display-element.small  { width : 70px; }
  .display-element.middle { width : 146px; }
  .display-element.big    { width : 146px; }


}

/* format for iPhone XS in landscape and bigger devices */

@media (min-width: 720px) {

  #audio2         	{ right  : 145px; }

  .remote         	{ width  : 335px; }
  .channel-entry 	{ width  : 160px; }

  .button         	{ width  :  74px; max-width  :  74px; }
  .button.big     	{ width  : 102px; max-width  : 102px; }
  .button.small   	{ width  :  60px; max-width  :  60px; }
  .button.small_edit	{ width  :  60px; max-width  :  60px; }

  .display.small  	{ width  : 156px; }
  .display.middle 	{ width  : 156px; }
  .display.big    	{ width  : 320px; }
  
  .display-element        { width : 68px; }
  .display-element.small  { width : 68px; }
  .display-element.middle { width : 142px; }
  .display-element.big    { width : 142px; }
}

