.rm-chart {
    min-width       : 0;
    min-height      : 0;
    border-radius   : 6px;
    border          : solid 0.5px var(--rm-color-display-default-border);
    background-color: #022626;
    color           : white;
    font-size       : var(--rm-size-remote-display-text);
    overflow        : visible;
    position        : relative;
    display         : inline-block;
    opacity         : var(--rm-opacity-display-var);
    text-align      : center;
    align-content   : center;
    padding     : 8px;
}

.rm-chart.default   { grid-column: span 4; grid-row: span 8; aspect-ratio: 8 / 5; }

.rm-chart-nav {
    cursor: pointer;
}

.rm-chart-title {
    font-weight: bold;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 6px;
    width: calc(100% - 13px);
    text-align: center;
}