/* display information within the remote control */

.display {
    min-width       : 0;
    min-height      : 0;
    border-radius   : 6px;
    border          : dotted 0.5px var(--rm-color-display-default-border);
    //border : 0;
    background-color: var(--rm-color-display-default);
    color           : var(--rm-color-display-default-text);
    font-size       : var(--rm-size-remote-display-text);
    overflow        : visible;
    position        : relative;
    display         : inline-block;
    vertical-align  : top;
    opacity         : var(--rm-opacity-display-var);
}

.display.right  { float  : right; }
.display.edit   { opacity: 1; }

.display        { width: auto; height: auto; margin : 0; }
.display.small  { grid-column: span 2; grid-row: span 1; aspect-ratio: 4 / 1; }
.display.middle { grid-column: span 2; grid-row: span 2; aspect-ratio: 4 / 2; }
.display.big    { grid-column: span 4; grid-row: span 4; aspect-ratio: 4 / 2; }

.display.h1w2 { grid-row: span 1; grid-column: span 2; aspect-ratio: 4 / 1; }
.display.h1w4 { grid-row: span 1; grid-column: span 4; aspect-ratio: 8 / 1; }
.display.h2w2 { grid-row: span 2; grid-column: span 2; aspect-ratio: 4 / 2; }
.display.h2w3 { grid-row: span 2; grid-column: span 3; aspect-ratio: 6 / 2; }
.display.h2w4 { grid-row: span 2; grid-column: span 4; aspect-ratio: 8 / 2; }
.display.h3w2 { grid-row: span 3; grid-column: span 2; }
.display.h4w2 { grid-row: span 4; grid-column: span 2; aspect-ratio: 4 / 4; }
.display.h4w4 { grid-row: span 4; grid-column: span 4; aspect-ratio: 4 / 2; }
.display.weather { grid-row: span 4; grid-column: span 4; aspect-ratio: 4 / 2; }

.display-content {
    position: absolute;
    inset: 0;
    margin: 6px;
    background-color: #005;
    border-radius: 5px;
    width: calc(100% - 12px);
    max-width: calc(100% - 12px);
    height: calc(100% - 12px);
    max-height: calc(100% - 12px);
    overflow : hidden;
    display: flex;         /* so children don't overflow */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-element {
    width: 56px;
    min-height: 0;
    min-width: 0;

    margin	: 1%;
    padding	: 0;
    padding-left: 5px;
    float	: left;
    color	: var(--rm-color-display-element);
    text-align: left;
    overflow: hidden;
}

.display-weather-element {
    height: 100%;
    vertical-align: center;
    font-size: 40px;
}

.display-element.alert   { color : black; }
.display-element.small   { width : 98%; }
.display-element.middle  { width : 98%; }
.display-element.big     { width : 48%; }

.display-element.h1w4    { width : 48%; }
.display-element.h1w2    { width : 98%; }
.display-element.h2w2    { width : 98%; }
.display-element.h2w3    { width : 98%; }
.display-element.h2w4    { width : 48%; }
.display-element.h3w2    { width : 98%; }
.display-element.h4w2    { width : 98%; }

.display-table {
    text-align  : left;
    width       : 95%;
    max-height  : 95%;
    color       : white;
    overflow-y  : auto;
    overflow-x  : hidden;

    scrollbar-width: thin;                 /* auto | thin | none */
    scrollbar-color: #6b7280 transparent;
}

.display-table::-webkit-scrollbar {
    width: 10px;
    /* height: 10px; */
}

.display-table::-webkit-scrollbar-track {
    background: transparent;
}

.display-table::-webkit-scrollbar-thumb {
    background-color: rgba(107, 114, 128, 0.6); /* color + opacity */
    border-radius: 6px;
}

.display-table::-webkit-scrollbar-thumb:hover {
    background-color: rgba(107, 114, 128, 0.85);
}

.display-detail-dialog {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    min-width: 0;
    width: unset;
    display: block;
}

@media (min-width: 500px) {
    .display-detail-dialog {
        max-width: 300px;
    }
}

.display-label {
   width        : 35%;
   max-width    : 35%;
   float        : left;
   overflow     : hidden;
}

.display-label-dialog {
   float        : left;
   overflow     : hidden;
}

.display-input {
   float        : left;
   width        : 62%;
   max-width    : 62%;
   overflow     : hidden;
}

.display-input-shorten {
   float        : left;
   width        : 62%;
   max-width    : 62%;

   white-space  : nowrap;
   overflow     : hidden;
   text-overflow: ellipsis;
}

.display-detail {
   float        : left;
   width        : 300px;
}

.display.display_off {
   opacity      : 50%;
   background   : var(--rm-color-display-off);
   color        : var(--rm-color-display-off-text);
}

.display.display_error {
   background   : var(--rm-color-display-error);
   color        : var(--rm-color-display-error-text);
}

.display.display_error .display-content {
  background : var(--rm-color-display-error-space);
}

.display.display_manual {
   background   : var(--rm-color-display-manual);
   color        : var(--rm-color-display-manual-text);
}

.display.display_manual .display-content {
    background : var(--rm-color-display-manual-space);
}
