.entry_error		{ color	: darkred; }
.hidden_entry_edit	{ color	: blue; }

@media (prefers-color-scheme: dark) {
  .entry_error		    { color	: #ff3333; }
  .hidden_entry_edit	{ color	: yellow; }
  }

.remote_nav {
    min-width       : 170px;
    max-width       : 170px;
}

.remote_nav ul {
    min-width       : 165px;
    max-width       : 165px;
}

.remote_nav ul li {
    overflow        : hidden;
}

nav-title {
    width           : 50%;
    max-width       : 50%;
}

nav-title div {
    overflow        : hidden;
    height          : 18px;
}
