/* format for iphone XS, 11pro, 12/13mini - 375x812 & iPhone SE 2nd Gen - 375x667 */

@media (min-width: 370px) {

  .button         	{ width  :  76px; max-width  :  76px; }
  .button.big     	{ width  : 105px; max-width  : 105px; }
  .button.big_edit    	{ width  : 105px; max-width  : 105px; }
  .button.small   	{ width  :  63px; max-width  :  63px; }
  .button.small_edit	{ width  :  63px; max-width  :  63px; }
  .button.header_image { width  : 334px; max-width  : 334px; }
  
  .display		{ font-size : 10px; }
  .display.small	{ width  : 160px; }
  .display.middle	{ width  : 160px; }
  .display.big		{ width  : 320px; }
  .display.h1w2	{ width  : 160px; }
  .display.h1w4	{ width  : 320px; }
  .display.h2w2	{ width  : 160px; }
  .display.h2w4	{ width  : 320px; }
  .display.h3w2	{ width  : 160px; } 
  .display.h4w2	{ width  : 160px; } 

  .display-element		{ width :  70px; }
  .display-element.small	{ width :  70px; }
  .display-element.middle	{ width : 146px; }
  .display-element.big		{ width : 146px; }
  
  .display-element.h1w4	{ width : 146px; }
  .display-element.h2w4	{ width : 146px; }
  .display-element.h3w2	{ width : 146px; }
  .display-element.h4w2	{ width : 146px; }

  .remote		{ width  : 340px; }
  .setting_bg		{ width  : 340px; }
  .channel-entry	{ width  : 166px; }
  .rm-slider-button	{ width  : 328px; }
  .color-picker	{ width  : 328px; }
  
}


