/* format for iphone XS */

@media (min-width: 370px) {

  .remote         { width  : 340px; }
  .setting_bg     { width  : 340px; }

  .channel-entry  { width  : 160px; }
  
  .button         	{ width  :  76px; max-width  :  76px; }
  .button.big     	{ width  : 105px; max-width  : 105px; }
  .button.big_edit    	{ width  : 105px; max-width  : 105px; }
  .button.small   	{ width  :  62px; max-width  :  62px; }
  .button.small_edit	{ width  :  62px; max-width  :  62px;}

}


