/* display information within the remote control */

.color-picker {
    height          :  auto;
    padding         : 4px 2px;
    grid-column     : span 4;

    color           : var(--rm-color-colorpicker-text);
    font-size       :   9px;
    border-radius   :   6px;
    border          : solid 1px var(--rm-color-colorpicker-border);
    background-color: var(--rm-color-colorpicker);
    overflow        : visible;
    display         : flex;
    position        : relative;
    vertical-align  : top;
    justify-content : center;
}

.color-picker-label {
    display         : none;
    position        : relative;
    right           : 20px;
    top             : 20px;
    padding         : 2px;
    color           : var(--rm-color-colorpicker-text);
    background-color: var(--rm-color-colorpicker);
    font-size       : 10px;
}

.color-picker-demo {
    border-radius   : 5px;
    border          : 1px white solid;
    color           : white;
    padding         : 3px;
    padding-bottom  : 5px;
    font-size       : 11px;
    overflow        : hidden;
}

.color-picker img {
   opacity          : var(--rm-opacity-image-fix);
}

#colorpicker_demo {
    margin-top      : 10px;
    border-radius   : 5px;
    height          : 10px;
    width           : 120px;
}