
/* Default element in settings - size for iPhone 5c */

.setting_bg {
   font-family : sans-serif;
   width       : 290px;
   margin      : 4px;
   padding     : 5px;
   float       : left;
   
   border-radius    : 5px;   
   background-color : #444444;

   color      : white;
   font-size  : 14px;
   opacity    : 0.9;
}

/* --------------------------------- */

#settings { 
	display       : none; 
	height        : 90%; 
	width         : 90%; 
	margin        : 0 auto; 
	padding       : 2px;
	position      : fixed;
	left          : 5%;
	top           : 5%; 
	z-index       : 90; 
	background    : white; 
	border        : 2px solid #cccccc; 
	border-radius : 10px; 
        font-family   : Helvetica;
        text-align    : center;
        align         : center;
        overflow      : auto;
	} 

#settings.h3 {
        font-size:15px;
        }

#error_log {
        font-size  : 12px;
        text-align : left;
        overflow   : auto;

        width      : 97%;
        height     : 200px;
        float      : left;
        margin     : 2px;
        padding    : 2px;

	font-face	: sanserif;
	font-size	: 10px;
	color		: black;

        border          : red;
        border-radius   : 5px;   
        border-style    : solid;
        border-width    : 1px;
        background-color: khaki;
        opacity         : 0.9;
        z-index         : 80;

	position: relative;
	top: 0px;
}


#error_msg {
	display    : none; 
	width      : 250px; 
	margin     : 0 auto; 
	padding    : 10px;
	position   : relative;
	left       : 0;
	top        : 10px;
	z-index    : 10; 
	background : white; 
	border     : 2px solid #cccccc; 
	border-radius:10px; 

        font-family: Helvetica;
        text-align : center;
/*        overflow   : auto; */
}



