/* default sizes */

.setting_bg.header.empty {
    height : 47px;
    }

:root {
    --app-frame-width-default   : 300px;

    --app-frame-width-100       : calc(100vw - 32px);
    --app-frame-width-50        : calc(100% / 2 - 22px);
    --app-frame-width-30        : calc(100% / 3 - 22px);

    --app-frame-width-100-menu  : calc(100% - 163px - 16px);
    --app-frame-width-100-menu2 : calc(100% - 163px - 16px);
    --app-frame-width-50-menu   : calc((100% - 163px) / 2 - 16px);
    --app-frame-width-30-menu   : calc((100% - 163px) / 3 - 16px);

    --rm-size-remote-header-text    : 30px;
    --rm-size-remote-header-info    : 13px;
    --rm-size-remote-button-text    : 4cqw;
    --rm-size-remote-display-text   : 3cqw;
    --rm-size-remote-info-text      : 3cqw;
    --rm-size-remote-channel-text   : 3cqw;
    --rm-size-remote-label-text     : 4cqw;
    --rm-size-remote-line-text      : 10px;
}

@media (min-width: 600px) {
  :root {
    --rm-size-remote-label-text     : 16px;
    --rm-size-remote-info-text      : 16px;
    --rm-size-remote-line-text      : 12px;
  }
}


.setting_bg, .remote { max-width : 570px; }
.setting_bg.main, .setting_bg.wide { max-width : unset; }


/* size when menu gets visible */

@media (min-width: 705px) {

  :root {
    --app-frame-width-100           : calc(100% - 16px);
    --rm-size-remote-display-text   : 2cqw;
  }

  .setting_bg.wide           { width  : var(--app-frame-width-100); }
  .setting_bg.main           { width  : var(--app-frame-width-100); }
  .setting_bg.header         { width  : var(--app-frame-width-100); }
  .setting_bg.header.empty   { width  : var(--app-frame-width-100); }
  .settings_button_index     { width  : calc(33% - 8px); height : 140px; }
  .settings_icon_big         { max-width : 120px; max-height : 60px; }
  .frame_block_content       { width  : var(--app-frame-width-100-menu); }

  }

/* size when columns > 340px even with menu visible; switch to 2 columns */

@media (min-width: 1000px) {
  :root {
      --rm-size-remote-button-text: 2cqw;
      --rm-size-remote-channel-text: 1.5cqw;
      --rm-size-remote-display-text: 1.2cqw;

      .remote-power-information {
          min-height : 25px;
      }
  }

    /* remote control in 2 columns */
  #frames {
    display: block;
    column-count: 2;
    column-gap: 20px;
    width: 100%;
  }
  .remote, .setting_bg {
    break-inside: avoid;
    width: 100%
  }

  @-moz-document url-prefix() {
   .remote, .setting_bg {
        /* workaround for firefox bug */
        break-inside: avoid-page;
      }
  }

  /* remote control editing in 2 columns */
  .slist {
    column-count: 2;
    column-gap: 10px;
    list-style-type: none;
    padding: 0px;
  }
  .slist li {
    break-inside: avoid-column;
    margin-top: 0px;
  }

  .slist_number {
    display: block;
  }
}

/* format for Laptop & bigger screen with 3 columns incl. menu */

@media (min-width: 1400px) {
  :root {
    --rm-size-remote-button-text    : 16px;
    --rm-size-remote-channel-text   : 16px;
    --rm-size-remote-display-text   : 16px;
  }
  .setting_bg.wide          { width  : var(--app-frame-width-100); }
  .setting_bg.main          { width  : var(--app-frame-width-100); }
  .setting_bg.header        { width  : var(--app-frame-width-100); }
  .setting_bg.header.empty  { width  : var(--app-frame-width-100); }
  .settings_button_index    { width  : calc(25% - 10px); height : 150px; }
  .settings_icon_big        { max-width : 120px; max-height : 80px; }
  .frame_block_content      { width  : var(--app-frame-width-100-menu); }

  /* remote control in 3 columns */
  #frames {
    column-count: 3;
    }
  }

/* setting frames depending on screen size */

#setting_ext_top_frame {
  position: fixed;
  width: calc(100% - 14px);
}

#setting_ext_frames {
  position: absolute;
  width: calc(100% - 0px);
}


/* format settings frame when menu is visible */

@media (min-width: 705px) {
    #device_frame0 {
        width: 100%;
    }

    #setting_ext_top_frame {
        width: calc(100% - 212px);
        left: 180px;
        top: 45px;
    }

    #setting_ext_frames {
        width: calc(100% - 182px);
        left: 180px;
    }
}


/* setting button size depending on screen size */

@media (max-width: 300px) {
    .rm-button_setting_index {
        width       :   calc(100% - 10px);
        }

    .rm-button-grid {
        gap: 3px;
    }
    .header_image_text {
        font-size: 18px;
        height: 20px;
        bottom: 0;
    }
}

@media (min-width: 900px) {
    .rm-button_setting_index {
        width       :   calc(100%/3 - 10px);
    }
}

@media (min-width: 1200px) {
    .rm-button_setting_index {
        width       :   calc(100%/4 - 10px);
    }
}
