/* MAIN */

img        { opacity: var(--rm-opacity-image-var); transition: opacity .5s ease-in-out; }
img:hover  { opacity: var(--rm-opacity-image-fix); }
body       { background: var(--rm-color-body); }
hr         { border: solid 1px var(--rm-color-hr); }

/* AUDIO INFO */

#audio1 {
  right             : 145px;
  background-image  : url('/icon/mute.png');
  background-size   : 14px;
  height            : 14px;
  width             : 14px;
  color             : var(--rm-color-audio-text);
}

#audio2 {
  right             : 145px;
  background-image  : url('/icon/vol+.png');
  background-size   : 14px;
  height            : 14px;
  width             : 14px;
  color             : var(--rm-color-audio-text);
}

#audio4 {
  right             : 160px;
  height            : 14px;
  width             : 140px;
  color             : var(--rm-color-audio-vol-text);
  text-align        : right;
  font-weight       : none;
}

#attention {
  position  : absolute;
  left      : 20px;
  bottom    : 30px;
}

#attention img {
  height   : 5cqw;
}

/* manual text */

ul.help { 
	margin-bottom   : 5px;
	margin-top      : 3px;
	}
ul.help li { 
	margin-left     : -15px;
	margin-bottom   : 5px;
	margin-top      : 3px;
	}
ul.help ul li { 
	margin-left     : -25px;
	margin-bottom   : 5px;
	margin-top      : 3px;
	}

/* height of app start screen */

.app_background {
   height           : 100vh;
   width            : 100%;
   position         : fixed;
   left             : 0px;
   top              : 0px;
   z-index          : 0;
}

.app_content {
   width            : calc(100% - 30px);
   position         : absolute;
   left             : 0px;
   top              : 0px;
   z-index          : 1;
   padding          : 8px;
   margin           : 0px;
}

/* frames */

.frame_block_nav {
    min-height      : 100%;
    margin          : 0px;
    padding         : 0px;
    float           : left;
}

.frame_block_content {
    display         : flex;
    flex-direction  : column;
    gap             : 0px;
    min-height      : 100%;
    margin          : 0px;
    padding         : 0px;
    float           : left;
}

#frames {
    display         : flex;
    flex-wrap       : wrap;
    align-items     : flex-start;
}



/* default size for boxes and buttons = iPhone 5c */
/* boxes for remote controls */


.remote {
   position         : relative;
   container        : inline-size;
   float            : left;
   width            : var(--app-frame-width-100);
   margin           : 4px;
   padding          : 5px;
   border-radius	: 5px;   
   background-color	: var(--rm-color-frame-remote);
   color            : var(--rm-color-frame-remote-text);
   opacity		    : var(--rm-opacity-frame-var);
   border           : 1px solid var(--rm-color-frame-remote-border);
   font-family      : sans-serif;
   font-size        : 12px;
   z-index          : 60;
}

.setting_bg {
   font-family      : sans-serif;
   container        : inline-size;
   width            : calc(100% - 18px);
   margin           : 4px;
   padding          : 5px;
   float            : left;
   border-radius    : 5px;
   background-color : var(--rm-color-frame-setting);
   color            : var(--rm-color-frame-setting-text);
   opacity		    : var(--rm-opacity-frame-fix);
   font-size        : 14px;
}

.setting_bg.wide {
   width            : calc(100% - 18px);
}

.remote_edit {
   position         : absolute;
   bottom           : 0px;
   left             : 0px;
   background-color	: var(--rm-color-frame-remote-edit);
   display          : none;
   width            : 99%;
   height           : 40px;
   z-index          : 61;
   }

.remote_edit_headline {
    font-size   : 16px;
    font-variant: small-caps;
}

#remote_edit {
   margin		: 4px;
   width		: 90%;
   height		: 20px;
   }

.remote-edit-button {
    position : relative;
    top : 0px;
    left : 0px;
    height : 2px;
    opacity : 0;
}

.remote-edit-button:hover {
    opacity : 1;
}

.remote_group {
	width           : calc(100% - 16px);
	background      : var(--rm-color-frame-group);
	color           : var(--rm-color-frame-group-text);
	padding         : 5px;
	border-radius   : 5px;
	margin          : 2px;
	overflow        : hidden;
  	}
	   
.remote_group_header {
	width           :  100%;
	padding         :    5px;
	padding-top     :   10px;
	}

.remote_group_header:hover {
	color           : var(--rm-color-frame-group-text-hover);
	}

#frame3 {
    z-index         : 61;
    }

#reload_msg {
    color           : gray;
    font-family     : sans-serif;
    font-size       : 10px;
    }

.remote-line {
    position		: relative;
    float		    : left;
    width		    : 96%;
    height		    : 15px;
    overflow		: hidden;
    margin-top		: 1.2cqw;
    margin-bottom	: 1cqw;
    margin-left	    : 2%;
    margin-right	: 2%;
    border-color    : var(--rm-color-frame-line);
    color		    : var(--rm-color-frame-line-text);
    }
	
.remote-line-text {
    position		: relative;
    right		    : -10px;
    top		        : -15px;
    float		    : left;
    background-color: var(--rm-color-frame-remote);
    color		    : var(--rm-color-frame-line-text);
    font-size       : var(--rm-size-remote-line-text);
    clear		    : left;
    }

/* adaptive sizes for smart phones -> see style-screensize-big.css */

/* entries for channel lists */

.channel-entry {
    width           : 48%;
    margin          :  1%;
    height          : auto;
    max-height      : none;
    overflow        : hidden;
    padding         : 0px;
    padding-top     : 8px;
    padding-bottom  : 8px;
    font-size       : var(--rm-size-remote-channel-text);
    color           : var(--rm-color-button-channel-text);
    border          : var(--rm-color-button-channel-border);
    background-color: var(--rm-color-button-channel);
    border-style    : solid;
    border-width    : 1px;
    border-radius   : 6px;
    }

.channel-entry:hover {
    color		     : var(--rm-color-button-channel-hover-text);
    background-color : var(--rm-color-button-channel-hover);
    box-shadow		 : var(--rm-color-button-hover-shadow);
    }

.channel-entry.device_off {
   opacity          : 60%;
   background-color : var(--rm-color-button-device-off);
   border           : solid 0.5px var(--rm-color-button-disabled-border);
}

#show_hide_not_used {
	position        : relative;
	top             : -10px;
	width           : 17px;
	max-width       : 17px;
	height          : 17px;

    background      : var(--rm-color-button-show-unused);
	color           : var(--rm-color-button-show-unused-text);
	border          : solid 1px var(--rm-color-button-show-unused-border);
	border-radius   : 17px;

	font-weight     : bold;
	font-size       : 14px;

	padding-top     : -5px;
	padding-left    : 5px;
	
	cursor          : pointer;
	overflow        : hidden;
	display         : inline-block;
	}
	
.remote-keyboard {
	position        : fixed;
	display         : none;
	height          : 60px;
	width           : 100%;
	bottom          : 0px;
	left            : 0px;
	background      : var(--rm-color-keyboard);
	color           : var(--rm-color-keyboard-text);
	border-top      : 1px solid var(--rm-color-keyboard-border);
	padding         : 5px;
	z-index         : 120;
	}
	
.remote-edit-cmd {
    background      : var(--rm-color-edit-cmd);
    color           : var(--rm-color-edit-cmd-text);
    padding         : 6px;
    width           : 95%;
    height          : 150px;
    overflow-y      : scroll;
    text-align      : left;
    font-size       : 11px;
	border          : solid 1px var(--rm-color-edit-cmd-border);
	border-radius   : 5px;
}

.favicon {
    max-width: 60px;
    max-height: 60px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 3px;
}
.favicon.selected {
    border: 3px solid #ffff44;
    margin: 1px;
}

.slidecontainer { background: var(--rm-color-slider); }
.slider         { border: solid 1px var(--rm-color-slider-border); }
.slidervalue    { border: solid 1px var(--rm-color-slider-border); }
.sliderlabel    { color: var(--rm-color-slider-text); }
