.rm-chart {
    min-width       : 0;
    min-height      : 0;
    border-radius   : 6px;
    //border          : solid 0.5px var(--rm-color-display-default-border);
    background-color: #0E1413;
    color           : white;
    font-size       : var(--rm-size-remote-display-text);
    overflow        : visible;
    position        : relative;
    display         : inline-block;
    opacity         : var(--rm-opacity-display-var);
    text-align      : center;
    align-content   : center;
    padding         : 10px;
    margin-bottom   : 6px;
    margin-top      : 6px;
}

.rm-chart.default   { grid-column: span 4; grid-row: span 8; aspect-ratio: 8 / 5; }

.rm-chart-nav {
    cursor: pointer;
}

.rm-chart-title {
    font-weight: bold;
    background-color: #182a28;
    border: 0.5px dashed #283a38;
    border-radius: 5px;
    padding: 6px;
    width: calc(100% - 14px);
    text-align: center;
}

.rm-chart-content {
    border: 0.5px dashed #182a28;
    border-radius: 5px;
    height: 100%;
    background-color: #131918;
}