/* format for iphone XS, 11pro, 12/13mini - 375x812 & iPhone SE 2nd Gen - 375x667 */
/* see also app framework -> style-main-iphone.css */

/* iPhone 16pro ------------------------------------------------------------------- */


@media only screen and (device-width : 402px) and (device-height : 874px) and (orientation : portrait) {
    }

@media only screen and (device-width : 402px) and (device-height : 874px) and (orientation : landscape) {

    .app_content      { margin :  0%; padding : 2%; }
    .remote           { width  : 43%; margin : 2%; }
    .setting_bg       { width  : 43%; margin : 2%; }
    .setting_bg.wide  { width  : 90%; margin : 2%; }
    }


/* iPhone XS ---------------------------------------------------------------------- */

@media only screen and (device-width : 375px) and (orientation : portrait)
  {
  #audio1 		    { right: 140px; }
  #audio2 		    { right: 140px; }
  #audio3 		    { right: 45px; }
  }

@media only screen and (device-width : 375px) and (device-height : 812px) and (orientation : landscape)
  {
  #audio1 		    { right: 125px; }
  #audio2 		    { right: 125px; }
  #audio3 		    { right: 45px; }

  .app_content      { margin :  0%; padding : 2%; }
  .remote           { width  : 43%; margin : 2%; }
  .setting_bg       { width  : 43%; margin : 2%; }
}
