/* overwrite settings from app-framework */

.setting_bg.header.empty {
    height : 47px;
    }

:root {
    --app-frame-width-default   : 300px;

    --app-frame-width-100       : calc(100vw - 32px);
    --app-frame-width-50        : calc(100% / 2 - 22px);
    --app-frame-width-30        : calc(100% / 3 - 22px);

    --app-frame-width-100-menu  : calc(100% - 163px - 16px);
    --app-frame-width-100-menu2 : calc(100% - 163px - 16px);
    --app-frame-width-50-menu   : calc((100% - 163px) / 2 - 16px);
    --app-frame-width-30-menu   : calc((100% - 163px) / 3 - 16px);

    --rm-size-remote-button-text    : 4vw;
    --rm-size-remote-info-text      : 3vw;
    --rm-size-remote-channel-text   : 3vw;
    --rm-size-remote-label-text     : 3vw;
    --rm-size-remote-display-text   : 3vw;
    --rm-size-remote-line-text      : 2vw;
}

@media (min-width: 705px) {

  :root {
    --app-frame-width-100           : calc(100% - 16px);

    --rm-size-remote-button-text    : 2.5vw;
    --rm-size-remote-channel-text   : 2.5vw;
    --rm-size-remote-label-text     : 2.5vw;
    --rm-size-remote-display-text   : 2.5vw;
    --rm-size-remote-info-text      : 2vw;
    --rm-size-remote-line-text      : 1.5vw;
  }

  .setting_bg.wide           { width  : var(--app-frame-width-100); }
  .setting_bg.main           { width  : var(--app-frame-width-100); }
  .setting_bg.header         { width  : var(--app-frame-width-100); }
  .setting_bg.header.empty   { width  : var(--app-frame-width-100); }
  .settings_button_index     { width  : calc(33% - 8px); height : 140px; }
  .settings_icon_big         { max-width : 120px; max-height : 60px; }
  .frame_block_content       { width  : var(--app-frame-width-100-menu); }
  }

@media (min-width: 880px) {
  :root {
    --rm-size-remote-button-text    : 1.5vw;
    --rm-size-remote-info-text      : 1.5vw;
    --rm-size-remote-label-text     : 1.5vw;
    --rm-size-remote-channel-text   : 1.1vw;
    --rm-size-remote-display-text   : 1.1vw;
    --rm-size-remote-line-text      : 1.2vw;
  }

  .remote                    { width  : var(--app-frame-width-50); }
  .setting_bg                { width  : var(--app-frame-width-50); }
}

/* adapted format for Laptop & Bigger - 3 columns incl. menu*/

@media (min-width: 1250px) {
  :root {
    --rm-size-remote-button-text    : 1vw;
    --rm-size-remote-info-text      : 1vw;
    --rm-size-remote-channel-text   : 1vw;
    --rm-size-remote-label-text     : 1.1vw;
    --rm-size-remote-display-text   : 0.6vw;
    --rm-size-remote-line-text      : 0.8vw;
  }

  .remote                   { width  : var(--app-frame-width-30); }
  .setting_bg               { width  : var(--app-frame-width-30); }
  .setting_bg.wide          { width  : var(--app-frame-width-100); }
  .setting_bg.main          { width  : var(--app-frame-width-100); }
  .setting_bg.header        { width  : var(--app-frame-width-100); }
  .setting_bg.header.empty  { width  : var(--app-frame-width-100); }
  .settings_button_index    { width  : calc(25% - 10px); height : 150px; }
  .settings_icon_big        { max-width : 120px; max-height : 80px; }
  .frame_block_content      { width  : var(--app-frame-width-100-menu); }
  }

/* setting frames depending on screen size */

#setting_ext_top_frame {
  position: fixed;
  width: calc(100% - 14px);
}

#setting_ext_frames {
  position: absolute;
  width: calc(100% - 0px);
}

#frames {
  width: calc(100% - 0px);
}

@media (min-width: 705px) {

  #device_frame0 {
    width : 100%;
  }
  #setting_ext_top_frame  {
    width: calc(100% - 212px);
    left : 180px;
    top  : 45px;
  }
  #setting_ext_frames     {
    width: calc(100% - 182px);
    left : 180px;
  }
}


/* setting button size depending on screen size */

@media (max-width: 300px) {
    .rm-button_setting_index {
        width       :   calc(100% - 10px);
        }
    }

@media (min-width: 900px) {
    .rm-button_setting_index {
        width       :   calc(100%/3 - 10px);
        }
    }

@media (min-width: 1200px) {
    .rm-button_setting_index {
        width       :   calc(100%/4 - 10px);
        }
    }
