/* display information within the remote control */

.display {
   float           : left;
   width           : 48%;
   margin          : 1%;
   height          : 40px;
   padding         : 0.5vw;
   border-radius   : 6px;
   border          : solid 0.5px var(--rm-color-display-default-border);
   background-color: var(--rm-color-display-default);
   color           : var(--rm-color-display-default-text);
   font-size       : var(--rm-size-remote-display-text);
   overflow        : hidden;
   display         : inline-block;
   vertical-align  : top;
   opacity         : var(--rm-opacity-display-var);
}

.display.right  { float  : right; }
.display.edit   { opacity: 1; }

.display.small  { width  : 48%;   height  :  auto;  aspect-ratio: 8 / 1.19; }
.display.middle { width  : 48%;   height  :  auto;  aspect-ratio: 4 / 2.05; }
.display.big    { width  : 98%;   height  :  auto;  aspect-ratio: 4 / 2; }

.display.h1w4   { width  : 98%;   height  :  auto;  aspect-ratio: 16 / 2; }
.display.h1w2   { width  : 48%;   height  :  auto;  aspect-ratio: 8 / 1.9;  }
.display.h2w2   { width  : 48%;   height  :  auto;  aspect-ratio: 4 / 2.05; }
.display.h2w3   { width  : 73%;   height  :  auto;  aspect-ratio: 6 / 2.05;}
.display.h2w4   { width  : 98%;   height  :  auto;  aspect-ratio: 8 / 2; }
.display.h3w2   { width  : 48%;   height  :  auto;  aspect-ratio: 6 / 4.81; }
.display.h4w2   { width  : 48%;   height  :  auto;  aspect-ratio: 2 / 2.15; }

.display-element {
   width	: 56px;
   margin	: 2px;
   padding	: 0px;
   float	: left;
   color	: var(--rm-color-display-element);
   text-align   : left;
}

.display-element.alert   { color : black; }
.display-element.small   { width : 98%; }
.display-element.middle  { width : 98%; }
.display-element.big     { width : 48%; }

.display-element.h1w4    { width : 48%; }
.display-element.h2w4    { width : 48%; }
.display-element.h2w3    { width : 98%; }
.display-element.h3w2    { width : 98%; }
.display-element.h4w2    { width : 98%; }

.display-label {
   width        : 35%;
   max-width    : 35%;
   float        : left;
   overflow     : hidden;
}

.display-label-dialog {
   float        : left;
   overflow     : hidden;
}

.display-input {
   float        : left;
   width        : 62%;
   max-width    : 62%;
   overflow     : hidden;
}

.display-input-shorten {
   float        : left;
   width        : 62%;
   max-width    : 62%;

   white-space  : nowrap;
   overflow     : hidden;
   text-overflow: ellipsis;
}

.display-detail {
   float        : left;
   width        : 300px;
}

.display.display_off {
   opacity      : 60%;
   background   : var(--rm-color-display-off);
   color        : var(--rm-color-display-off-text);
}

.display.display_error {
   background   : var(--rm-color-display-error);
   color        : var(--rm-color-display-error-text);
}

.display.display_manual {
   background   : var(--rm-color-display-manual);
   color        : var(--rm-color-display-manual-text);
}

