/* display information within the remote control */

.color-picker {
   width           :  98%;
   //height          :  300px;
   height          :  auto;
   margin          :   1%;
   padding         :   2px;
   padding-top     :   4px;
   padding-bottom  :   4px;

   color           : yellow;
   font-size       :   9px;
   border-radius   :   6px; 
   border-color    : #999999;
   background-color: #AAAAAA;
   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
}

.color-picker img {
   opacity : 1.0;
}

#colorpicker_demo {
    margin-top    : 10px;
    border-radius : 5px;
    height        : 10px;
    width         : 120px;
}