/* format for bigger devices, except iPad */

.screen_default { display : block; }
.screen_big     { display : none; }

@media (min-width: 730px) 
{

  .screen_big       { display : block; }
  .screen_default   { display : none; }

  .display                                                      { font-size : 10px; }

  #audio1         	{ right  : 145px; }
  #audio2         	{ right  : 145px; }

  .remote           { width  : 335px; }
  .setting_bg       { width  : 335px; }
  .setting_bg.wide  { width  : 698px; }

  .rm-toggle-button      { width  :  74px; }
  .rm-toggle-label.short { width  :  74px; }
  .rm-toggle-label.long  { width  :  238px; }
}

@media (min-width: 890px) 
{
  /* overwrite app-framework definition to show the menu */
  .remote_nav    { width : 164px; }
  .remote_nav ul { width : 160px; }
}

@media (min-width: 1200px) {
    .setting_bg.wide  { width : 1056px; }
    }

@media (min-width: 1530px) {
    .setting_bg.wide  { width : 1413px; }
    }