/*
body {
    font-family: Arial, sans-serif;
    background:#f4f6f8;
    padding:20px;
}
*/

.macro-edit-container {
    /* other container setting @ style-size.css */
    display:grid;
    grid-template-columns:1fr;
    gap:10px;
    margin:5px;
    margin-top:15px;
}

/* ---------- Palette ---------- */
.macro-edit-palette {
    background:#fff;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,.1);
    max-height:80vh;
    overflow:auto;
}

.category, .macro-device {
    border:1px solid #ddd;
    border-radius:6px;
    margin-bottom:10px;
    overflow:hidden;
}

.macro-device {
    margin-bottom:0px;
}

.macro-output {
    display: none;
}

.category-header, .macro-device-header  {
    padding:8px 10px;
    font-weight:bold;
    background:#f1f3f5;
    color: black;
    cursor:pointer;
}

.macro-device-header {
    cursor: unset;
}

.category-content, .macro-device-content  {
    max-height:0;
    overflow:hidden;
    transition:max-height .25s ease;
}

.macro-edit-content  {
    overflow:hidden;
    transition:max-height .25s ease;
    border:2px dashed #bbb;
    padding:0;
}

.category-content.open, .macro-device-content.open {
    max-height:140px;
    overflow-y:auto;
    padding:8px;
}

.tags {
    display:flex;
    flex-wrap:wrap;
    gap:6px;
}

.tag {
    height:26px;
    padding:0 10px;
    border-radius:13px;
    color:#fff;
    font-size:13px;
    white-space:nowrap;
    cursor:grab;
    display:inline-flex;
    align-items:center;
}

/* ---------- Macro Area ---------- */
.macro-edit-area {
    background:#fff;
    color: black;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,.1);
    display:flex;
    flex-direction:column;
    gap:10px;
}

/* Device selector */
.devices {
    display:flex;
    gap:8px;
}

.device {
    padding:6px 12px;
    border-radius:5px;
    background:#e9ecef;
    cursor:pointer;
    font-size:13px;
}

.device.active {
    background:#007bff;
    color:#fff;
}

/* Dropzone */
.macro-dropzone {
    min-height:150px;
    //border:2px dashed #bbb;
    border:none;
    border-radius:6px;
    padding:10px;
    display:flex;
    flex-wrap:wrap;
    gap:8px;
}

.macro-tag {
    height:26px;
    padding:0 10px;
    border-radius:13px;
    color:#fff;
    font-size:13px;
    white-space:nowrap;
    cursor:grab;
    display:inline-flex;
    align-items:center;
}

/* Output */
textarea {
    width:100%;
    height:120px;
    resize:none;
    font-family:monospace;
}
