/* format for iphone XS, 11pro, 12/13mini - 375x812 & iPhone SE 2nd Gen - 375x667 */
/* see also app framework -> style-main-iphone.css */

/* iPhone 16pro ------------------------------------------------------------------- */


@media only screen and (device-width : 402px) and (device-height : 874px) and (orientation : portrait) {

    .app_content      { margin :  0%; padding : 0%; }
    .remote           { width  : 90%; margin : 2%; }
    .setting_bg       { width  : 90%; margin : 2%; }
    .setting_bg.wide  { width  : 90%; margin : 2%; }

    .rm-toggle-button     { width  :  76px; }
    .rm-toggle-label.long { width  : 265px; }
    }
@media only screen and (device-width : 402px) and (device-height : 874px) and (orientation : landscape) {

    .app_content      { margin :  0%; padding : 2%; }
    .remote           { width  : 43%; margin : 2%; }
    .setting_bg       { width  : 43%; margin : 2%; }
    .setting_bg.wide  { width  : 90%; margin : 2%; }

    .rm-toggle-button     { width  :  76px; }
    .rm-toggle-label.long { width  : 265px; }
    }


/* iPhone XS ---------------------------------------------------------------------- */

@media only screen and (device-width : 375px) and (orientation : portrait)
  {
  #audio1 		    { right: 140px; }
  #audio2 		    { right: 140px; }
  #audio3 		    { right: 45px; }

  .remote           { width  : 340px; }
  .setting_bg       { width  : 340px; }
  .setting_bg.wide  { width  : 340px; }

  .rm-toggle-button     { width  :  76px; }
  .rm-toggle-label.long { width  : 242px; }
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (orientation : landscape)
  {
  #audio1 		    { right: 125px; }
  #audio2 		    { right: 125px; }
  #audio3 		    { right: 45px; }

  .remote           { width  : 335px; }
  .setting_bg 		{ width  : 335px; }
  .setting_bg.wide  { width  : 670px; }

  .rm-toggle-button     { width  :  74px; }
  .rm-toggle-label.long { width  : 240px; }
}
