/*-----------------------------------------*/
/* jc://remote/slider/                     */
/*-----------------------------------------*/

/* display information within the remote control */

.rm-slider-button {
   width           :  98%;
   margin          :   1%;
   height          :  70px;
   padding         :   2px;

   border-radius   :   6px; 
   border          : 1px solid var(--rm-color-slider2-border);
   background-color: var(--rm-color-slider2);
   color           : var(--rm-color-slider2-text);
   font-size       :   9px;

   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
}
.rm-slider-button.device_off {
    opacity          : 60%;
    background-color : var(--rm-color-button-device-off);
    border           : solid 0.5px var(--rm-color-button-disabled-border);
}
.rm-toggle-label.device_off {
    opacity          : 60%;
}
.rm-toggle-button.device_off {
    opacity          : 60%;
}
/*
.rm-slider-button.device_on     {background : var(--rm-color-slider2-handle-device_on);  border-color :  var(--rm-color-slider2-handle-device_on-border);}
.rm-slider-button.device_undef  {background : var(--rm-color-slider2-handle-device_undef);  border-color :  var(--rm-color-slider2-handle-device_undef-border);}
*/

.rm-toggle-button {
   width           :  70px;
   max-width       :  70px;
   height          :  40px;
   padding         :   2px;
   margin          :   4px;

   border-radius   :   6px;
   border          : 1px solid var(--rm-color-slider2-button-border);
   background      : var(--rm-color-slider2-button);
   color           : var(--rm-color-slider2-text);
   font-size       :   9px;

   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
}

.rm-toggle-label {
   width           :  calc(100% - 95px);
   min-width       :  60%;
   height          :  40px;
   padding         :   2px;
   padding-left    :  5px;
   margin          :   4px;

   border-radius   :   6px;
   border          : 1px solid var(--rm-color-slider2-label-border);
   background-color: var(--rm-color-slider2-label);
   color           : var(--rm-color-slider2-label-text);
   font-size       : var(--rm-size-remote-label-text);

   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
   text-align      : left;
}

/* ---------------------------------------- */

.rm-slidecontainer {
    border          : none;
    background-color: none; //var(--rm-color-colorpicker);

    z-index       : 99;
    width         : 100%;
    height        : 64px;
}

/* The slider itself */
.rm-slider {
  	-webkit-appearance  : none;     /* Override default look */

	z-index       : 100;
  	width         : 83%;
  	height        : 25px;
  	float         : left;
  	margin        : 3px;

	-webkit-transition : .2s; /* 0.2 seconds transition on hover */
  	transition    : opacity .2s;
/*
    background    : #DDDDDD;
    opacity       : 0.8;
    border        : 2px solid #777777;
*/
	border-radius : 13px;
}

.rm-slidervalue {
  	z-index         : 99;
  	width           : 10%;
  	height          : 25px;
  	float           : left;
  	margin          : 3px;

	opacity         : 0.9; /* Set transparency (for mouse-over effects on hover) */
    border          : 1px solid var(--rm-color-slider2-value-border);
    background-color: var(--rm-color-slider2-value);
    color           : var(--rm-color-slider2-value-text);
	border-radius   : 5px;
  	font-family     : Helvetica,Arial;
  	font-weight     : bold;
  	font-size       : 11px;
  	line-height     : 25px;
  	
  	text-align      : center;
  	vertical-align  : middle;
	}

.rm-sliderlabel {
	z-index         : 99;
	width           : 90%;
	float           : left;
	
	padding	        : 5px;
	padding-left    : 10px;

	text-align      : left;
	font-family     : Sans-serif, Arial, Helvetica;
    font-size       : 14px;
    color		    : var(--rm-color-slider-text);
 	}

/* Mouse-over effects */
.rm-slider:hover {
  	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rm-slider::-webkit-slider-runnable-track {
  	-webkit-appearance  : none;     /* Override default look */
  	appearance          : none;
  	width               : 29px;		/* Set a specific slider handle width */
  	height              : 29px;		/* Slider handle height */
  	cursor              : pointer;	/* Cursor on hover */
  	border-radius       : 15px;
	border              : 2px solid var(--rm-color-slider2-handle-default-border);
  	background          : var(--rm-color-slider2-handle-default-track);
}

.rm-slider::-webkit-slider-thumb {
  	-webkit-appearance  : none;	    /* Override default look */
  	appearance          : none;
  	width               : 25px;		/* Set a specific slider handle width */
  	height              : 25px;		/* Slider handle height */
  	cursor              : pointer;	/* Cursor on hover */
  	border-radius       : 13px;
	border              : 2px solid var(--rm-color-slider2-handle-default-border);
  	background          : var(--rm-color-slider2-handle-default);
}

.rm-slider::-moz-range-thumb {
  	-webkit-appearance  : none;	    /* Override default look */
	width               : 25px;		/* Set a specific slider handle width */
	height              : 25px;		/* Slider handle height */
  	cursor              : pointer;	/* Cursor on hover */
  	border-radius       : 13px;
	border              : 2px solid var(--rm-color-slider2-handle-default-border);
  	background          : var(--rm-color-slider2-handle-default);
}

.rm-slider.device_off::-webkit-slider-thumb               { background : var(--rm-color-slider2-handle-device_off);  border-color :  var(--rm-color-slider2-handle-device_off-border); }
.rm-slider.device_off::-moz-range-thumb                   { background : var(--rm-color-slider2-handle-device_off);  border-color :  var(--rm-color-slider2-handle-device_off-border); }

.rm-slider.device_on::-webkit-slider-thumb                { background : var(--rm-color-slider2-handle-device_on);  border-color :  var(--rm-color-slider2-handle-device_on-border); }
.rm-slider.device_on::-moz-range-thumb                    { background : var(--rm-color-slider2-handle-device_on);  border-color :  var(--rm-color-slider2-handle-device_on-border); }

.rm-slider.device_disabled::-moz-range-thumb              { background : var(--rm-color-slider2-handle-device_disabled);  border-color :  var(--rm-color-slider2-handle-device_disabled-border); }
.rm-slider.device_disabled::-webkit-slider-thumb          { background : var(--rm-color-slider2-handle-device_disabled);  border-color :  var(--rm-color-slider2-handle-device_disabled-border); }

.rm-slider.device_active::-webkit-slider-thumb            { background : var(--rm-color-slider2-handle-device_active);  border-color :  var(--rm-color-slider2-handle-device_active-border); }
.rm-slider.device_active::-moz-range-thumb                { background : var(--rm-color-slider2-handle-device_active);  border-color :  var(--rm-color-slider2-handle-device_active-border); }

.rm-slider.device_undef::-webkit-slider-thumb             { background : var(--rm-color-slider2-handle-device_undef);  border-color :  var(--rm-color-slider2-handle-device_undef-border); }
.rm-slider.device_undef::-moz-range-thumb                 { background : var(--rm-color-slider2-handle-device_undef);  border-color :  var(--rm-color-slider2-handle-device_undef-border); }

.rm-slider.device_set::-webkit-slider-thumb               { background : var(--rm-color-slider2-handle-device_set);  border-color :  var(--rm-color-slider2-handle-device_set-border); }
.rm-slider.device_set::-moz-range-thumb                   { background : var(--rm-color-slider2-handle-device_set);  border-color :  var(--rm-color-slider2-handle-device_set-border); }

/* EOF */
