
/* Default element in settings - size for iPhone 5c */
/* --------------------------------- */

nav-title {
    max-width  : 40%;
    overflow   : hidden;
    white-space: nowrap;
    }

#settings { 
	display       : none; 
	height        : 90%; 
	width         : 90%; 
	margin        : 0 auto; 
	padding       : 2px;
	position      : fixed;
	left          : 5%;
	top           : 5%; 
	z-index       : 90; 
	background    : white; 
	border        : 2px solid #cccccc; 
	border-radius : 10px; 
    font-family   : Helvetica;
    text-align    : center;
    align         : center;
    overflow      : auto;
	} 

#settings.h3 {
    font-size:15px;
    }

#error_log {
    font-size  : 12px;
    text-align : left;
    overflow   : auto;

    width      : 97%;
    height     : 200px;
    float      : left;
    margin     : 2px;
    padding    : 2px;

    font-face	: sanserif;
    font-size	: 10px;
    color		: black;

    border          : red;
    border-radius   : 5px;
    border-style    : solid;
    border-width    : 1px;
    background-color: khaki;
    opacity         : 0.9;
    z-index         : 80;

    position: relative;
    top: 0px;
}

#error_msg {
	display    : none; 
	width      : 250px; 
	margin     : 0 auto; 
	padding    : 10px;
	position   : relative;
	left       : 0;
	top        : 10px;
	z-index    : 10; 
	background : white; 
	border     : 2px solid #cccccc; 
	border-radius:10px; 

        font-family: Helvetica;
        text-align : center;
/*        overflow   : auto; */
}

.timer_select {
     border                 : 1px solid gray;
     height                 : 25px;
    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
     border-radius          : 5px !important;
}

.server_logging {
    float                   : left;
    height                  : 300px;
    width                   : calc(50% - 20px);
    margin                  : 5px;
    padding                 : 5px;
    color                   : #000044;
    background-color        : #eeeeaa;
    border-color            : blue;
    border-radius           : 5px;
    overflow                : auto;
    white-space             : nowrap;
    font-family             : Consolas, "Courier New", monospace;
    font-size               : 12px;
}

.mode_setting_container {
  width         : 95%;
  float         : left;
  padding       : 5px;
  padding-left  : 10px;
}
.mode_setting_label {
  padding       : 5px;
  width         : calc(95% - 70px);
  height        : 30px;
  float         : left;
}
.mode_setting_toggle {
  width         : 65px;
  height        : 30px;
  float         : right;
}

.server_logging.queue {
    background-color        : #ddddff;
}

.api-status-info {
    padding        : 4px;
    padding-left   : 10px;
    padding-right  : 10px;
    border-radius  : 15px;
    background     : #006;
    width          : fit-content;
    min-width      : unset;
}

@media (max-width: 730px) {
    .server_logging {
        width : calc(100% - 20px);
    }
}
