/*-----------------------------------------*/
/* jc://remote/slider/                     */
/*-----------------------------------------*/

/* display information within the remote control */

.rm-slider-button {
   color           : #222222;
   font-size       :   9px; 

   width           :  276px;
   height          :  70px;
   padding         :   2px;
   margin          :   4px;
   
   border-radius   :   6px; 
   border          : 1px solid #bbbbbb;
   background-color: #cccccc;
   
   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;

}


/* ---------------------------------------- */

.rm-slidecontainer {
    	z-index       : 99;
  	width         : 100%;
  	height        : 64px;
}

/* The slider itself */
.rm-slider {
	z-index	: 100;
  	width		: 83%;
  	height		: 25px;
  	float		: left;
  	margin		: 3px;

	background         : #DDDDDD; /* Grey background */
	opacity            : 0.8; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition : .2s; /* 0.2 seconds transition on hover */
  	transition	: opacity .2s;
  	
	border		: 2px solid #777777;
	border-radius	: 13px;  	
}

.rm-slidervalue {
  	z-index	: 99;
  	width		: 10%;
  	height		: 25px;
  	float		: left;
  	margin		: 3px;

  	background     : #DDDDDD; /* Grey background */
	opacity        : 0.9; /* Set transparency (for mouse-over effects on hover) */
  	
	border		: 2px solid #777777;
	border-radius	: 5px;
  	
  	color		: #222222;
  	font-face      : Helvetica,Arial;
  	font-size      : 11px;
  	line-height    : 25px;
  	
  	font-weight    : bold;
  	text-align     : center;
  	vertical-align : middle;
	}

.rm-sliderlabel {
	z-index	: 99;
	width		: 90%;
	float		: left;
	
	padding	: 5px;
	padding-left	: 10px;

	font-family	: Sans-serif, Arial, Helvetica;
	font-size	: 12px;
	text-align	: left;	
	}

/* Mouse-over effects */
.rm-slider:hover {
  	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rm-slider::-webkit-slider-thumb {
  	-webkit-appearance: none; /* Override default look */
  	appearance    : none;
  	width         : 25px; /* Set a specific slider handle width */
  	height        : 25px; /* Slider handle height */
  	background    : green; /* Green background */
  	cursor        : pointer; /* Cursor on hover */
  	border-radius : 13px;
}

.rm-slider::-moz-range-thumb {
	width         : 25px; /* Set a specific slider handle width */
	height        : 25px; /* Slider handle height */
  	background    : green; /* Green background */
  	cursor        : pointer; /* Cursor on hover */
  	border-radius : 13px;
}

/* EOF */
