/* format for iphone XS, 11pro, 12/13mini - 375x812 & iPhone SE 2nd Gen - 375x667 */
/* see also app framework -> style-main-iphone.css */

/* iPhone 16pro ------------------------------------------------------------------- */


@media only screen and (device-width : 402px) and (device-height : 874px) and (orientation : portrait) {
  #audio1 		    { right: 140px; }
  #audio2 		    { right: 140px; }
  #audio3 		    { right: 45px; }
  }

@media only screen and (((device-width : 402px) and (device-height : 874px) and (orientation : landscape)) or
                       ((device-height : 402px) and (device-width : 874px))) {

  .app_content      { margin :  0%;  padding : 5px; padding-top: 0px;}
  .remote           { width  : 280px; margin : 5px; }
  .setting_bg       { width  : 280px; margin : 5px; }
  .setting_bg.wide  { width  : 580px; margin : 5px; }

  #navi          { display : none; }
  #remote_nav    { display : block; }
  .remote_nav    { width : 134px; max-width : 134px; min-width : 134px; margin-right : 5px; }
  .remote_nav ul { width : 130px; max-width : 130px; min-width : 130px; margin-right : 5px; }

  .rm-toggle-button     { width  : 25%; }
  .rm-toggle-label.long { width  : 65%; }
  }


/* iPhone XS ---------------------------------------------------------------------- */

@media only screen and (device-width : 375px) and (orientation : portrait)
  {
  #audio1 		    { right: 140px; }
  #audio2 		    { right: 140px; }
  #audio3 		    { right: 45px; }
  }

@media only screen and (((device-width : 375px) and (device-height : 812px) and (orientation : landscape)) or
                        ((device-height : 375px) and (device-width : 812px)))
  {
  #audio1 		    { right: 125px; }
  #audio2 		    { right: 125px; }
  #audio3 		    { right: 45px; }

  .app_content      { margin :  0%; padding : 1%; }
  .remote           { width  : 43%; margin : 1%; }
  .setting_bg       { width  : 43%; margin : 1%; }
}
