@media (prefers-color-scheme: dark) {

  button                { opacity: 1; color : #dddddd; background: #333333; }
  
  .setting_bg.wide      { background: #222222 !important; }

  .rm-button            { opacity: 1; color : #dddddd; background: #333333; }
  .rm-button.empty      { background: #000000; }
  .rm-button:disabled   { background: #000000; }
  
  .rm-button.bggreen, .rm-button.bgred, .rm-button.bgyellow, .rm-button.bgblue                       { opacity: 0.8; }
  .rm-button.bgorange, .rm-button.bgcyan, .rm-button.bgwhite, .rm-button.bgpink, .rm-button.bgblack  { opacity: 0.8; }

  .rm-button.edit  { opacity: 1; }

  .rm-button.notfound          { border : solid 1px #990000; }
  .rm-button.notfound:disabled { border : solid 1px #990000; background-color : #221111; }

  .rm-button.device_off	{ background-color: black; }

  .rm-button.header_image { border: #000000 solid 3px; }
  .rm-button.header_image:hover { color: white; }


  .header_image_fade {
    font-size : 30px;
    font-weight : bold;
    color : white;
    background: -webkit-linear-gradient(top,
                rgba(0,0,0,0) 0%, 
                rgba(0,0,0,0) 40%,
                rgba(0,0,0,1) 60%,
                rgba(0,0,0,1) 100%
    );
  }

}


