/*-----------------------------------------*/
/* jc://remote/slider/                     */
/*-----------------------------------------*/

/* display information within the remote control */

.rm-slider-button {
   color           : #222222;
   font-size       :   9px; 

   width           :  276px;
   height          :  70px;
   padding         :   2px;
   margin          :   4px;
   
   border-radius   :   6px; 
   border          : 1px solid #bbbbbb;
   background-color: #cccccc;
   
   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
}

.rm-toggle-button {
   color           : #222222;
   font-size       :   9px;

   width           :  64px;
   height          :  40px;
   padding         :   2px;
   margin          :   4px;

   border-radius   :   6px;
   border          : 0px solid #bbbbbb;
   background-color: #dddddd;

   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
}

.rm-toggle-label {
   color           : #222222;
   font-size       :   9px;

   width           :  204px;
   height          :  40px;
   padding         :   2px;
   padding-left    :  10px;
   margin          :   4px;

   border-radius   :   6px;
   border          : 0px solid #bbbbbb;
   background-color: #dddddd;
   color           : black;

   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
   text-align      : left;
   font-size       : 12px;
}

.rm-toggle-label.long {
   width           :  204px;
}

.rm-toggle-label.short {
   width           :  64px;
}

/* ---------------------------------------- */

.rm-slidecontainer {
    z-index       : 99;
    width         : 100%;
    height        : 64px;
}

/* The slider itself */
.rm-slider {
  	-webkit-appearance  : none;     /* Override default look */

	z-index       : 100;
  	width         : 83%;
  	height        : 25px;
  	float         : left;
  	margin        : 3px;

	-webkit-transition : .2s; /* 0.2 seconds transition on hover */
  	transition    : opacity .2s;
/*
    background    : #DDDDDD;
    opacity       : 0.8;
    border        : 2px solid #777777;
*/
	border-radius : 13px;
}

.rm-slidervalue {
  	z-index         : 99;
  	width           : 10%;
  	height          : 25px;
  	float           : left;
  	margin          : 3px;

  	background      : #DDDDDD; /* Grey background */
	opacity         : 0.9; /* Set transparency (for mouse-over effects on hover) */
  	
	border          : 2px solid #777777;
	border-radius   : 5px;
  	
  	color           : #222222;
  	font-family     : Helvetica,Arial;
  	font-weight     : bold;
  	font-size       : 11px;
  	line-height     : 25px;
  	
  	text-align      : center;
  	vertical-align  : middle;
	}

.rm-sliderlabel {
	z-index         : 99;
	width           : 90%;
	float           : left;
	
	padding	        : 5px;
	padding-left    : 10px;

	font-family     : Sans-serif, Arial, Helvetica;
	font-size       : 12px;
	text-align      : left;
	}

/* Mouse-over effects */
.rm-slider:hover {
  	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rm-slider::-webkit-slider-runnable-track {
  	-webkit-appearance  : none;     /* Override default look */
  	appearance          : none;
  	width               : 29px;		/* Set a specific slider handle width */
  	height              : 29px;		/* Slider handle height */
  	background          : #223322;	/* Green background */
  	cursor              : pointer;	/* Cursor on hover */
  	border-radius       : 15px;
	border              : 2px solid #777777;
}

.rm-slider::-webkit-slider-thumb {
  	-webkit-appearance  : none;	    /* Override default look */
  	appearance          : none;
  	width               : 25px;		/* Set a specific slider handle width */
  	height              : 25px;		/* Slider handle height */
  	background          : green;	/* Green background */
  	cursor              : pointer;	/* Cursor on hover */
  	border-radius       : 13px;
	border              : 2px solid #00cc00;
}

.rm-slider::-moz-range-thumb {
  	-webkit-appearance  : none;	    /* Override default look */
	width               : 25px;		/* Set a specific slider handle width */
	height              : 25px;		/* Slider handle height */
  	background          : green; 	/* Green background */
  	cursor              : pointer;	/* Cursor on hover */
  	border-radius       : 13px;
	border              : 2px solid #00cc00;
}

.rm-slider.device_off::-webkit-slider-runnable-track      { background: #332222; }
.rm-slider.device_off::-webkit-slider-thumb               { background : darkred;  border : 2px solid #cc0000; }
.rm-slider.device_off::-moz-range-thumb                   { background : darkred;  border : 2px solid #cc0000; }

.rm-slider.device_on::-webkit-slider-runnable-track       { background: #332222; }
.rm-slider.device_on::-webkit-slider-thumb                { background : green;  border : 2px solid #00cc00; }
.rm-slider.device_on::-moz-range-thumb                    { background : green;  border : 2px solid #00cc00; }

.rm-slider.device_disabled::-webkit-slider-runnable-track { background: #332222; }
.rm-slider.device_disabled::-moz-range-thumb              { background : #3333AA;  border : 2px solid #5555AA; }
.rm-slider.device_disabled::-webkit-slider-thumb          { background : #3333AA;  border : 2px solid #5555AA; }

.rm-slider.device_active::-webkit-slider-runnable-track   { background: #332222; }
.rm-slider.device_active::-webkit-slider-thumb            { background : #6666DD;  border : 2px solid #8888FF; }
.rm-slider.device_active::-moz-range-thumb                { background : #6666DD;  border : 2px solid #8888FF; }

.rm-slider.device_undef::-webkit-slider-runnable-track    { background: #332222; }
.rm-slider.device_undef::-webkit-slider-thumb             { background : gray;  border : 2px solid #cccccc; }
.rm-slider.device_undef::-moz-range-thumb                 { background : gray;  border : 2px solid #cccccc; }

.rm-slider.device_set::-webkit-slider-runnable-track      { background: #332222; }
.rm-slider.device_set::-webkit-slider-thumb               { background : darkcyan;  border : 2px solid cyan; }
.rm-slider.device_set::-moz-range-thumb                   { background : darkcyan;  border : 2px solid cyan; }

/* EOF */
