/* display information within the remote control */

.color-picker {
   width           :  98%;
   height          :  auto;
   margin          :   1%;
   padding         :   2px;
   padding-top     :   4px;
   padding-bottom  :   4px;

   color           : var(--rm-color-colorpicker-text);
   font-size       :   9px;
   border-radius   :   6px; 
   border          : solid 1px var(--rm-color-colorpicker-border);
   background-color: var(--rm-color-colorpicker);
   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
}

.color-picker img {
   opacity          : var(--rm-opacity-image-fix);
}

#colorpicker_demo {
    margin-top      : 10px;
    border-radius   : 5px;
    height          : 10px;
    width           : 120px;
}