/* display information within the remote control */

.display {
   width           :  48%;
   margin          :   1%;
   height          :  40px;
   color           : yellow;
   padding         :   2px;
   font-size       :   9px;
   border-radius   :   6px; 
   background-color: #000044;
   overflow        : hidden;
   float           : left;
   display         : inline-block;
   vertical-align  : top;
}

.display.right  { float  : right; }
.display.edit   { opacity: 1; }

.display.small  { width  : 48%;   height  :  40px; }
.display.middle { width  : 48%;   height  :  88px; }
.display.big    { width  : 98%;   height  :  88px; }

.display.h1w4   { width  : 98%;   height  :  40px; }
.display.h1w2   { width  : 48%;   height  :  40px; }
.display.h2w2   { width  : 48%;   height  :  88px; }
.display.h2w4   { width  : 98%;   height  :  88px; }
.display.h3w2   { width  : 48%;   height  :  136px; }
.display.h4w2   { width  : 48%;   height  :  184px; }

.display-element {
   width	: 56px;
   margin	: 2px;
   padding	: 0px;
   float	: left;
   color	: white;
   text-align   : left;
}

.display-element.alert   { color : black; }
.display-element.small   { width : 48%; }
.display-element.middle  { width : 98%; }
.display-element.big     { width : 48%; }

.display-element.h1w4    { width : 48%; }
.display-element.h2w4    { width : 48%; }
.display-element.h3w2    { width : 98%; }
.display-element.h4w2    { width : 98%; }

.display-label {
   width        : 35%;
   max-width    : 35%;
   float        : left;
   overflow     : hidden;
}

.display-input {
   float        : left;
   width        : 62%;
   max-width    : 62%;
   overflow     : hidden;
}

.display-input-shorten {
   float        : left;
   width        : 62%;
   max-width    : 62%;

   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.display-detail {
   float        : left;
   width        : 300px;
}

.display.display_off {
   background	: #000033;
}

.display.display_error {
   background	: #660000;
}

.display.display_manual {
   background	: #222244;
   color	: lightgray;
}

