/* AUDIO INFO */

#audio1 {
  right             : 145px;
  background-image  : url('/icon/mute.png');
  background-size   : 14px;
  height            : 14px;
  width             : 14px;
  color             : white;
}

#audio2 {
  right             : 145px;
  background-image  : url('/icon/vol+.png');
  background-size   : 14px;
  height            : 14px;
  width             : 14px;
  color             : white;
}

#audio4 {
  right             : 160px;
  height            : 14px;
  width             : 140px;
  color             : gray;
  text-align        : right;
  font-weight       : none;
}

/* manual text */

ul.help { 
	margin-bottom   : 5px;
	margin-top      : 3px;
	}
ul.help li { 
	margin-left     : -15px;
	margin-bottom   : 5px;
	margin-top      : 3px;
	}
ul.help ul li { 
	margin-left     : -25px;
	margin-bottom   : 5px;
	margin-top      : 3px;
	}

/* height of app start screen */

.app_background {
   height           : 100vh;
   width            : 100%;
   position         : fixed;
   left             : 0px;
   top              : 0px;
   z-index          : 0;
}

.app_content {
   width            : 100%;
   position         : absolute;
   left             : 0px;
   top              : 0px;
   z-index          : 1;
   padding          : 8px;
   margin           : 0px;
}

/* default size for boxes and buttons = iPhone 5c */
/* boxes for remote controls */

.remote {
   position         : relative;
   float            : left;
   width            : 290px;
   margin           : 4px;
   padding          : 5px;
   border-radius	: 5px;   
   background-color	: #dddddd;
   opacity		    : 0.9;
   font-family      : sans-serif;
   font-size        : 12px;
   z-index          : 60;
}

.setting_bg {
   font-family      : sans-serif;
   width            : 290px;
   margin           : 4px;
   padding          : 5px;
   float            : left;
   border-radius    : 5px;
   background-color : #444444;
   color            : white;
   font-size        : 14px;
   opacity          : 0.9;
}

.setting_bg.wide {
   background       : #dddddd;
   width            : 290px;
}

.remote_edit {
   position         : absolute;
   bottom           : 0px;
   left             : 0px;
   
   background-color	: #eeeeee;
   display          : none;
   width            : 99%;
   height           : 40px;
   z-index          : 61;
   }

.remote_edit_headline {
    font-size   : 16px;
    font-variant: small-caps;
}

#remote_edit {
   margin		: 4px;
   width		: 90%;
   height		: 20px;
   }
   
.remote_group {
	width           : 96%;
	background      : gray;
	padding         : 5px;
	border-radius   : 5px;
	margin          : 2px;
	overflow        : hidden;
  	}
	   
.remote_group_header {
	width           :  100%;
	padding         :    5px;
	padding-top     :   10px;
	}

.remote_group_header:hover {
	color           : yellow;
	}

#frame3    { z-index: 61; }

#reload_msg { color : gray; font-family: sans-serif; font-size: 10px;}

.remote-line {
    position		: relative;
    float		    : left;
    width		    : 96%;
    height		    : 15px;
    overflow		: hidden;
    margin-top		: 10px;
    margin-bottom	: 6px;
    margin-left	    : 2%;
    margin-right	: 2%;
    }
	
.remote-line-text {
    position		: relative;
    right		    : -10px;
    top		        : -15px;
    float		    : left;
    background-color: #dddddd;
    color		    : #333333;
    font-size		: 10px;
    clear		    : left;
    }

/* adaptive sizes for smart phones */

@media (min-width : 350px) and (max-width: 720px) {
    .app_content      { width  : 100%; margin : 0%; padding: 2%; }
    .remote           { width  :  90%; margin : 2%; }
    .setting_bg       { width  :  90%; margin : 2%; }
    .setting_bg.wide  { width  :  90%; margin : 2%; }
}

/* entries for channel lists */

.channel-entry {
    width           : 48%;
    margin          :  1%;
    height          :  28px;
    padding         :   0px;
    color           : white;
    font-size       : 15px;
    border          : gray;
    border-style    : solid;
    border-width    : 1px;
    border-radius   : 6px;
    background-color: #333333;
    }

.channel-entry:hover {
    color		: black;
    background-color	: #dddddd;
    box-shadow		: 0 8px 8px 0 rgba(0,0,0,0.24), 0 8px 8px 0 rgba(0,0,0,0.19);
    }

#show_hide_not_used {
	width: 17px;
	max-width: 17px;
	height: 17px;

	border: solid 1px #333333;
	border-radius: 17px;

	background-color: #555555;
	color: white;

	position: relative;
	top: -10px;

	font-weight: bold;
	font-size: 14px;

	padding-top:-5px;
	padding-left:5px;
	
	cursor:pointer;
	overflow:hidden;
	display:inline-block;
	}
	
.remote-keyboard {
	position   : fixed;
	display    : none;
	height     : 60px;
	width      : 100%;
	bottom     : 0px;
	left       : 0px;
	background : darkgray;
	border-top : 1px solid black;
	padding    : 5px;
	z-index    : 120;
	}
	
.remote-edit-cmd {
    background  : #111111;
    color       : #ffff88;
    padding     : 6px;
    width       : 95%;
    height      : 200px;
    overflow-y  : scroll;
    text-align  : left;
    font-size   : 11px;
	border      : solid 1px #222222;
	border-radius: 5px;
}