/* buttons */

button {
   background      : #000044;
   color           : white;
   height          : 30px;
   overflow        : hidden;
   border-radius   : 5px;
   font-size       : 12px;
}

/* buttons for remote controls */

.button {
   color           : white;
   width           :  63px;
   height          :  40px;
   max-width       :  63px;
   max-height      :  40px;
   padding         :   2px;
   margin          :   4px;
   border-style    : solid 0px #111111;
   border-radius   :   6px;   
   background-color: #111111;
   font-size       : 13px;
   overflow        : hidden;
   float           : left;
}

.button:hover {
   color            : yellow;
   background-color : #555555;
   box-shadow       : 0 4px 4px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.19);
}

.button:disabled {
   background-color: #dddddd;
   color           : #dddddd;
   border           : gray;
   border-style     : none;
   box-shadow       : 0 0px 0px 0 rgba(0,0,0,0.24), 0 0px 0px 0 rgba(0,0,0,0.19);
}

.button.complete {
   background-color: #eeeeee;
   border          : blue;
   border-style    : solid;
   border-width    : 2px;
}

.button.notfound {
   background-color: #000055;
   border          : red;
   border-style    : solid;
   border-width    : 2px;
}

.button.notfound:disabled {
   background-color: #777777;
   border          : red;
   border-style    : solid;
   border-width    : 2px;
}

.button.big {
    width  		: 88px;
    height 		: 66px;
    max-width          : 88px;
    max-height         : 66px;
    background-size    : 100% 100%;
}

.button.big_edit {
    width  		: 88px;
    height 		: 66px;
    max-width          : 88px;
    max-height         : 66px;
    border           	: blue solid 2px;
    background-size    : 100% 100%;
}

.button.hugh {
    width  		: 158px;
    height 		: 100px;
    max-width          : 158px;
    max-height         : 100px;
    background-size    : 100% 100%;
}

.button.hugh_edit {
    width  		: 158px;
    height 		: 100px;
    max-width          : 158px;
    max-height         : 100px;
    border           	: blue solid 2px;
    background-size    : 100% 100%;
}

.button.header_image {
    width              : 98%;
    height             : 190px;
    max-width          : 98%;
    max-height         : 150px;
    border             : solid 0px white;
    background-size    : 100%;
    background-position: center center;
    padding            : 0px;
    margin-bottom      : 20px;
}

.header_image_fade {
    height: 100%;
    width: 100%;
}

.header_image_fade {
   font-size : 30px;
   font-weight : bold;
   position : relative;
   top : 75px;                         
    background: -webkit-linear-gradient(top, 
                rgba(0,0,0,0) 0%, 
                rgba(0,0,0,0.7) 30%,
                rgba(0,0,0,0.8) 40%,
                rgba(0,0,0,1) 50%,
                rgba(0,0,0,1) 100%
    );
}

.button.header_image:hover {
   color: white;
}

.button.small {
    width  		: 51px;
    height 		: 50px;
    max-width          : 51px;
    max-height         : 50px;
    margin 		:  3px;
}

.button.small_edit { 
    width  		: 60px; 
    height 		: 50px;
    max-width          : 60px;
    max-height         : 50px;
    margin 		:  3px;
    border           	: blue;
    border-style     	: solid;
    border-width     	: 2px;
}


/* colored buttons */

.button.bgred    { background-color: red;     color: red; }
.button.bgyellow { background-color: #ffff00;  color: #ffff00; }
.button.bgblue   { background-color: blue;    color: blue; }
.button.bggreen  { background-color: green;   color: green; }
.button.bgwhite  { background-color: white;   color: white; }
.button.bgorange { background-color: orange;  color: orange; }
.button.bgpink   { background-color: #FF00FF; color: #FF00FF; }
.button.bgcyan   { background-color: cyan;    color: cyan; }
.button.black    { background-color: black;   color: black; }


