/* format for bigger devices, except iPad */

#big_display     { display : none; }

@media (min-width: 730px) {
    #big_display      { display : block; }
    #default_display  { display : none; }
}

@media (min-width : 350px) and (max-width: 499px) {
    .app_content      { width  : 100%; margin : 0%; padding: 2%; }
    .remote           { width  :  91%; margin : 1.5%; }
    .setting_bg       { width  :  91%; margin : 1.5%; }
    .setting_bg.wide  { width  :  91%; margin : 1.5%; }
}

@media (min-width : 500px) and (max-width: 619px) {
    .app_content      { width  : 100%; margin : 0%; padding: 1%; }
}

@media (min-width : 620px) and (max-width: 729px) {
    .app_content      { width  : 100%; margin : 0%; padding: 1%; }
    .remote           { width  :  44%; margin : 1%; }
    .setting_bg       { width  :  44%; margin : 1%; }
    .setting_bg.wide  { width  :  92%; margin : 1%; }

    .rm-toggle-button      { width  :  20%; }
    .rm-toggle-label.short { width  :  20%; }
    .rm-toggle-label.long  { width  :  70%; }
}

@media (min-width: 730px) {
    .display          { font-size : 10px; }

    #audio1         	   { right  : 145px; }
    #audio2         	   { right  : 145px; }

    .remote                { width  : 335px; }
    .setting_bg            { width  : 335px; }
    .setting_bg.wide       { width  : 688px; }

    .rm-toggle-button      { width  :  74px; }
    .rm-toggle-label.short { width  :  74px; }
    .rm-toggle-label.long  { width  :  238px; }
}

@media (min-width: 890px) {
    .remote_nav    { width : 164px; }
    .remote_nav ul { width : 160px; }
}

@media (min-width: 1200px) {
    .setting_bg.wide  { width : 1040px; }
    }

@media (min-width: 1530px) {
    .setting_bg.wide  { width : 1394px; }
    }