/* format for iPad Air (3rd) */
/* see also app framework -> style-main-iphone.css */

@media only screen 
  and (device-width : 834px) and (device-height : 1112px) and (orientation : portrait)
  {

  .remote           { width  : 290px; }
  .setting_bg       { width  : 290px; }
  .setting_bg.width { width  : 590px; }

  .rm-toggle-button      { width  :  76px; }
  .rm-toggle-label.short { width  :  76px; }
  .rm-toggle-label.long  { width  :  204px; }

  #audio2 		{ right: 125px; }

  /* overwrite app-framework definition to show the menu */
  .remote_nav       { display: block; width : 165px; }
  .remote_nav ul    { width : 160px; }
  #navi-click       { display: none; }
}

@media only screen 
  and (device-width : 834px) and (device-height : 1112px) and (orientation : landscape)
  {

  #audio2 		{ right: 125px; }
}
