/* format for iPhone XS in landscape and bigger devices */

@media (min-width: 720px) {

  .display.small  	{ width  : 156px; }
  .display.middle 	{ width  : 156px; }
  .display.big    	{ width  : 320px; }
  
  .display.h1w2        { width  : 156px; }
  .display.h1w4        { width  : 320px; }
  .display.h2w2        { width  : 156px; }
  .display.h2w4        { width  : 320px; }
  .display.h3w2        { width  : 156px; } 
  .display.h4w2        { width  : 156px; } 

  .display-element        { width : 68px; }
  .display-element.small  { width : 68px; }
  .display-element.middle { width : 142px; }
  .display-element.big    { width : 142px; }
  
  .display-element.h1w4    { width : 142px; }
  .display-element.h2w4    { width : 142px; }
  .display-element.h3w2    { width : 142px; }
  .display-element.h4w2    { width : 142px; }

}

