/* buttons */

button {
   background      : #000044;
   color           : white;
   height          : 30px;
   overflow        : hidden;
   border-radius   : 5px;
   font-size       : 12px;
}

/* REDEFINE buttons for remote-control */

.rm-button {
   width           :  23%;
   max-width       :  23%;
   margin          :   1%;
   color           : white;
   height          :  40px;
   max-height      :  40px;

   padding         :   2px;
   border-style    : solid 0px #111111;
   border-radius   :   6px;
   background-color: #111111;
   font-size       : 13px;
   overflow        : hidden;
   float           : left;
}

.rm-button:hover {
    color            : yellow;
   background-color : #555555;
   box-shadow       : 0 4px 4px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.19);
}

.rm-button:disabled {
   background-color : #dddddd;
   color            : #dddddd;
   border           : gray;
   border-style     : none;
   box-shadow       : 0 0px 0px 0 rgba(0,0,0,0.24), 0 0px 0px 0 rgba(0,0,0,0.19);
}

.rm-button.notfound {
   background-color : #000055;
   border           : red;
   border-style     : solid;
   border-width     : 2px;
}

.rm-button.notfound:disabled {
   background-color : #777777;
   border           : red solid 2px;
}

.rm-button.big, .rm-button.big_edit {
    width  		    : 31.3%;
    max-width       : 31.3%;
    margin          : 1%;
    height 		    : 66px;
    max-height      : 66px;
    background-size : 100% 100%;
}

.rm-button.big_edit {
    border          : blue solid 2px;
}

.rm-button.small, .rm-button.small_edit {
    width           : 18%;
    max-width       : 18%;
    margin          :  1%;
    height          : 50px;
    max-height      : 50px;
}

.rm-button.small_edit {
    border          : blue solid 2px;
}

.rm-button.hugh, .rm-button.hugh_edit {
    width  		    : 48%;
    max-width       : 48%;
    margin          : 1%;
    height 		    : 100px;
    max-height      : 100px;
    background-size : 100% 100%;
}

.rm-button.hugh_edit {
    border           	: blue solid 2px;
}


/* other buttons */

.rm-button.calculate_values {
    width       : 24px;
    height      : 24px;
    color       : white;
    background  : #555555;
    float       : right;
    margin      : 0px;
}

.rm-button.updown {
    width  		: 30px;
    height 		: 30px;
    margin		: 1px;
}

.rm-button.updown:disabled {
    background		: gray;
}

.rm-button.hidden {
    display:none;
}

.rm-button.device_off {
    background-color: rgb(102, 102, 102);
}

/* colored buttons */

.rm-button.bgred               { background-color: red;     color: red; }
.rm-button.bgyellow            { background-color: #ffff00; color: #ffff00; }
.rm-button.bgblue              { background-color: blue;    color: blue; }
.rm-button.bggreen             { background-color: green;   color: green; }
.rm-button.bgwhite             { background-color: white;   color: white; }
.rm-button.bgorange            { background-color: orange;  color: orange; }
.rm-button.bgpink              { background-color: #FF00FF; color: #FF00FF; }
.rm-button.bgcyan              { background-color: cyan;    color: cyan; }
.rm-button.black               { background-color: black;   color: black; }

.rm-button.bgwhite-warm        { background-color: #ffeedd; color: #ffeedd; max-width: 18%; margin: 1%; }
.rm-button.bgwhite-warmest     { background-color: #ffddaa; color: #ffddaa; max-width: 18%; margin: 1%; }
.rm-button.bgwhite-cool        { background-color: #ddddff; color: #ddddff; max-width: 18%; margin: 1%; }
.rm-button.bgwhite-coolest     { background-color: #bbbbff; color: #bbbbff; max-width: 18%; margin: 1%; }
.rm-button.bgwhite-neutral     { background-color: white;   color: white;   max-width: 18%; margin: 1%; }

.rm-button.bgred.device_off                { background-color: red;     opacity: 0.4; }
.rm-button.bgyellow.device_off             { background-color: #ffff00; opacity: 0.4; }
.rm-button.bgblue.device_off               { background-color: blue;    opacity: 0.4; }
.rm-button.bggreen.device_off              { background-color: green;   opacity: 0.4; }
.rm-button.bgwhite.device_off              { background-color: white;   opacity: 0.4; }
.rm-button.bgorange.device_off             { background-color: orange;  opacity: 0.4; }
.rm-button.bgpink.device_off               { background-color: #FF00FF; opacity: 0.4; }
.rm-button.bgcyan.device_off               { background-color: cyan;    opacity: 0.4; }
.rm-button.black.device_off                { background-color: black;   opacity: 0.4; }

.rm-button.bgwhite-warm.device_off         { background-color: #ffeedd; opacity: 0.4; }
.rm-button.bgwhite-warmest.device_off      { background-color: #ffddaa; opacity: 0.4; }
.rm-button.bgwhite-cool.device_off         { background-color: #ddddff; opacity: 0.4; }
.rm-button.bgwhite-coolest.device_off      { background-color: #bbbbff; opacity: 0.4; }
.rm-button.bgwhite-neutral.device_off      { background-color: white;   opacity: 0.4; }

/* show button code when pressed */

.rm-button_show {
    position          : fixed;
    right             : 20px;
    top               : 50px;
    height            : 20px;
    min-width         : 100px;
    border            : 1px solid gray;
    background-color  : lightyellow;
    opacity           : 80%;
    border-radius     : 3px;
    text-align        : center;
    vertical-align    : middle;
    padding           : 4px;
    padding-top       : 8px;
}

.rm-button_image_start {
    max-width   : 40px;
    max-height  : 25px;
    margin      : 0px;
    padding     : 0px;
}

/* setting buttons */


.rm-button_setting_index {
    width       :   calc(100%/2 - 10px);
    margin      :    5px;
    height      : 140px;
    padding     :  10px;
    float       :  left;
    background  : #333399;
    border      : solid 2px #5555AA;
}

.rm-button_setting_index_small {
    width       :  13.2%;
    margin      :   0.5%;
    height      :   40px;
    padding     :    1px;
    float       :   left;
    background  : #333399;
    border      : solid 2px #5555AA;
}

.rm-button_setting_index_small.selected {
    border      : solid 2px #8888AA;
}

canvas {
    margin : 5px;
}

/* image header */

.rm-button.header_image {
    width              : 98%;
    max-width          : 98%;
    margin             :  1%;

    height             : 180px;
    max-height         : 180px;

    border             : #dddddd solid 3px;
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center;
    //background-size    : 100%;
    //background-position: center center;
    padding            : 0px;
    margin-bottom      : 10px;
}

.rm-button.header_image:hover {
    box-shadow         : 0 0px 0px 0 rgba(0,0,0,0.24), 0 0px 0px 0 rgba(0,0,0,0.19);
}


/* further image formats */

.header_image_toggle_container {
    height      : 40px;
    width       : 100%;
    color       : black;
    text-align  : right;
    padding     : 5px;
}

.header_image_toggle {
    width           : 60px;
    height          : 32px;
    margin          :  2px;
    padding         :  0px;
    padding-bottom  : 0px;
    padding-right   : 5px;
    float           : right;
    //background    : black;
    //box-shadow    : 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
    border-radius   :   19px;
}

.header_image_text {
    width       : 100%;
    height      : 40px;
}

.header_image_fade {
    height      : 140px;
    width       : 100%;
    font-size   : 30px;
    font-weight : bold;
    color       : black;

    position    : relative;
    top         : 0px;

    background: -webkit-linear-gradient(top,
                rgba(221,221,221,0) 0%,
                rgba(221,221,221,0) 40%,
                rgba(221,221,221,1) 90%,
                rgba(221,221,221,1) 100%
    );
}


.image_list {
    margin-bottom       : 7px;
    background-color    : blue;
    border              : 1px solid white;
    border-radius       : 3px;
    height              : 40px;
    width               : 10%;
    float               : left;
    justify-content     : center;
}
.image_list.key {
    min-width           : 10%;
    background-color    : gray;
    color               : white;
    border              : 0px;
}
