@media (prefers-color-scheme: dark) {

  button               { opacity: 1; color : #dddddd; background: #333333; }
  
  .button              { opacity: 1; color : #dddddd; background: #333333; }
  .button.empty 	{ background: #000000; }
  .button:disabled 	{ background: #000000; }
  
  .button.bggreen  	{ opacity: 0.8; }
  .button.bgred    	{ opacity: 0.8; }
  .button.bgyellow 	{ opacity: 0.8; }
  .button.bgblue   	{ opacity: 0.8; }
  .button.bgorange   	{ opacity: 0.8; }
  .button.bgcyan   	{ opacity: 0.8; }
  .button.bgwhite   	{ opacity: 0.8; }
  .button.bgpink   	{ opacity: 0.8; }
  .button.bgblack   	{ opacity: 0.8; }
  
  .button.notfound          { border : solid 1px #990000; }
  .button.notfound:disabled { border : solid 1px #990000; background-color : #221111; }

  .header_image_fade {
    font-size : 30px;
    font-weight : bold;
    position : relative;
    color : white;
    top : 75px;                         
    background: -webkit-linear-gradient(top, 
                rgba(0,0,0,0) 0%, 
                rgba(0,0,0,0.7) 30%,
                rgba(0,0,0,0.8) 40%,
                rgba(0,0,0,1) 50%,
                rgba(0,0,0,1) 100%
    );
  }

  .button.header_image:hover {
     color: white;
  }
}


